.datePick {
    padding: 5px 5px;
    width: 130px;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 2px solid #787878;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.datePick input {
    width: 120px;
    text-align: center;
    border: none;

}

.data_picker_label {
    padding: 0 !important;
    margin: 0 !important;
    text-align: left !important;
    padding-bottom: 5px!important;
    padding-left: 10px !important;
    font-size: 12px;
    color: rgba(0,0,0,.5);
    font-weight: bold;
}

.datewrapper {
    padding-top: 10px !important;
}
.date-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-buttons button {
    margin: 0 30px;
    padding: 5px 20px;
}