.footer {
  border-top: 2px solid #aaaaaa;
  background: white;
  display: flex;
  align-items: flex-end;
  textarea {
    height: 80px !important;
    border: 1px solid #878787 !important;
    margin: 8px 12px !important;
    padding: 5px 12px !important;

  }
  div {
    align-items: flex-end !important;
    min-width: 87% !important;
  }
  img {
    margin-right: 10px;
    margin-bottom: 14px;
    margin-left: 5px;
  }
}


.messageWrapper {
  height: 75vh;
}